/* nav related style */

body{
    font-family: "Lato", sans-serif;
    font-family: "Open Sans", sans-serif;
}

.text-primary{
    color: orangered;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 150px;

}

nav > ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-right: 50px;
    
}

.nav-title{
    color: black;
    font-size: 45px;
    font-weight: 800;
}

.btn-primary{
    border-radius: 5px;
    background-color: orangered;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

/* header related style */
.header-section{
    background-color: rgb(238, 216, 195);
   background-image: url(../images/header_bg.png);
   background-repeat: no-repeat;
   background-position: bottom right;
}

.banner{
    padding: 30px 30px 0px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .profile-picture{
    width: 500px;
}

.banner-greeting{
    font-size: 45px;
    margin-bottom: 0;
}

.banner-title{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-paragraph{
    width: 600px;
}

/* main section styles */

/* about section styles */
.about{
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0px;
}

.section-title{
    color: black;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description{
    color: #757575;
    text-align: center;
    font-size: 18px;
}

main{
    max-width: 1140px;
    margin: 0 auto;
}

.about-info-container{
    display: flex;
    justify-content: space-around;
}

.about-info{
    text-align: center;
}